.raised:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.raised {
  color: var(--primary-text-color, #fff);
  background-color: var(--primary-color);
}

button {
  position: relative;
  margin-top: 6px;
  margin-bottom: 6px;
  height: 36px;
  border-radius: var(--mdc-shape-small, 4px);
  padding: 0 8px 0 8px;
  font-family: var(
    --mdc-typography-button-font-family,
    var(--mdc-typography-font-family, Roboto)
  );
  font-size: var(--mdc-typography-button-font-size, 0.875rem);
  font-weight: var(--mdc-typography-button-font-weight, 500);
  letter-spacing: var(--mdc-typography-button-letter-spacing, 0.0892857143em);
  text-transform: var(--mdc-typography-button-text-transform, uppercase);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  border: none;
  outline: none;
  vertical-align: center;
}