h1 {
  font-family: var(--typography-title-font-family, var(--typography-font-family, Roboto));
  font-size: var(--typography-title-font-size, 1.5rem);
  font-weight: var(--typography-title-font-weight, 400);
  letter-spacing: var(--typography-subtitle1-letter-spacing, 0.009375em);
}

h3 {
  font-family: var(--typography-helper-font-family, var(--typography-font-family, Roboto));
  font-size: var(--typography-title-font-size, 0.85rem);
  font-weight: var(--typography-title-font-weight, 600);
  color: #666;
}